@{
    ViewBag.Title = "NavBar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header
{
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">KO Demo Project</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#BuiltInBindings">Built-In-Bindings</a></li>
                    <li><a href="#contact">Contact</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Action</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">Nav header</li>
                            <li><a href="#">Separated link</a></li>
                            <li><a href="#">One more separated link</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!--/.nav-collapse -->
        </div>
    </div>

}

@*this will be body part*@
<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
        <h1>Knockout example</h1>

    </div>


    <div class="row" id="KObservable">
        <div class="col-md-12">
            <div class="panel panel-primary panel-minheight">
                <div class="panel-heading">
                    <h3 class="panel-title">Knockout Obeservable</h3>
                    <span class="pull-right">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class="active"><a href="#Observable" data-toggle="tab">Observable</a></li>
                            <li><a href="#ObservableArrayDiv" data-toggle="tab">Observable Arrays</a></li>
                            <li><a href="#ComputedObservableDiv" data-toggle="tab">Dependent observable</a></li>

                        </ul>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="Observable">


                            <ul class="list-group">
                                <li class="list-group-item">Observable are functions
                                </li>

                                <li class="list-group-item">
                                    <span class="label label-default ">Get Value from Obesrvable</span>

                                    viewModel.name();


                                </li>
                                <li class="list-group-item">
                                    <span class="label label-default ">Set Value In Obesrvable</span>

                                    viewModel.name("sarvesh");
                                </li>
                            </ul>



                            <form class="form-inline">
                                <span data-bind="text: name"></span>


                                <div class="form-group">
                                    <div class="input-group" style="width: 220px;">
                                        <span class="input-group-addon">Name</span>

                                        <input type="text" class="form-control " placeholder="Name" data-bind="value: name">
                                    </div>
                                </div>

                                @*<div class="form-group"><input type="text" class="form-control" placeholder="Works with" style="width: 100px;"/></div>*@

                                @*<button type="button" class="btn btn-primary btn-sm" data-bind="click: changeName">change name </button>*@

                            </form>
                        </div>
                        <div class="tab-pane" id="ObservableArrayDiv">


                            <div class="col-md-12">
                                <input type="text" data-bind="value: itemToAdd" />
                                <button class="btn btn-primary btn-sm" data-bind="click: addItem">Add</button>

                            </div>

                            <div class="col-md-3" style="padding-top: 10px;">
                                <ul class="list-group" data-bind="foreach: items">
                                    <li class="list-group-item"><span data-bind="text: UserName" /></li>
                                </ul>
                            </div>
                        </div>
                        <div class="tab-pane" id="ComputedObservableDiv">
                            First Name : <span data-bind="text: firstName"></span>
                            <br />
                            Last Name : <span data-bind="text: lastName"></span>
                            <br />
                            Full Name : <span data-bind="text: fullName"></span>
                            <br />
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <div class="row" id="BuiltInBindings">
        <div class="col-md-12">
            <div class="panel panel-primary panel-minheight">
                <div class="panel-heading">
                    <h3 class="panel-title">Knockout Built In Bindings</h3>
                    <span class="pull-right">
                        <!-- Tabs -->
                        <ul class="nav panel-tabs">
                            <li class="active"><a href="#BindingTextAndApperanceSection" data-toggle="tab">Text and Apperance</a></li>
                            <li><a href="#ControlFlowBinding" data-toggle="tab">Control flow</a></li>
                            <li><a href="#" data-toggle="tab">Forms</a></li>

                        </ul>
                    </span>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="BindingTextAndApperanceSection">

                            <ol>
                                <li>
                                    <strong>Visible </strong>Binding
                                    <img src="~/fonts/SH.jpg" data-bind="visible: ShowItOrHideIt" />
                                    <a class="btn btn-primary" id="ShowMeOrHideMe">Show Me or Hide Me</a>
                                </li>
                                <li>
                                    <strong>Text</strong> Binding : 
                                    <p data-bind="text: TextBinding"></p>
                                </li>
                                <li>
                                    <strong>HTML</strong>  Binding :  
                                    <p data-bind="html: HtmlBinding"></p>
                                </li>
                                <li>
                                    <strong>CSS</strong> Binding
                                    <p data-bind="css: CssBinding">I am above 80</p>
                                </li>
                                <li>
                                    <strong>Style</strong> Binding
                                    <p data-bind="style: { color: StyleBinding }">Make me Blue </p>
                                </li>
                                <li>
                                    <strong>Attribute</strong> Binding <a data-bind="attr: { href: AttrBindingUrl, target: AttrBindingTarget }">My blog link</a>
                                </li>
                            </ol>

                        </div>
                         <div class="tab-pane" id="ControlFlowBinding">

                         <label><input type="checkbox" data-bind="checked: displayMessage" /> Control flow Binding Using IF (checkbox check then show) :Display  message</label>
                          <div data-bind="if: displayMessage"> Here is my message.</div>

                             
                             <div >
                                 
                                 <span> <strong>Foreach Binding :</strong> To iterate any collection we can use KO control flow's foreach</span>
                                 <ul data-bind="foreach: ForeachBinding">
                                     <li data-bind="text: Name"></li>
                                 </ul>

                                  knockout commant based syntax for control flow .
                                 by using these tags KO creates Virtual element and KO understands these and Binds according to synatx.
                                 <ol>
                                 <!-- ko foreach :ForeachBinding --> 
                                 <li data-bind="text: Name"></li>
                                  <!-- /ko --> 
                                     </ol>
                             </div>

                            


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>


@section Footer
{

}